<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021799950327-c3mr95qffh5jelbsvmhihmt87v2ficg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021799950327-c3mr95qffh5jelbsvmhihmt87v2ficg7</string>
	<key>API_KEY</key>
	<string>AIzaSyDgS67Fy69zB_0hMvktqL2ObwgPGvXeALY</string>
	<key>GCM_SENDER_ID</key>
	<string>1021799950327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.breakawaydesign.Together</string>
	<key>PROJECT_ID</key>
	<string>together-safely</string>
	<key>STORAGE_BUCKET</key>
	<string>together-safely.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021799950327:ios:cbe8e6e7303ce6a958f0f2</string>
	<key>DATABASE_URL</key>
	<string>https://together-safely.firebaseio.com</string>
</dict>
</plist>