<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366967144619-ht025p29jdf2dmbvntammfupdeotc2ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366967144619-ht025p29jdf2dmbvntammfupdeotc2ra</string>
	<key>API_KEY</key>
	<string>AIzaSyBn6BdtFptiXK_LQ2mmiaUXDBL2PtzrvDE</string>
	<key>GCM_SENDER_ID</key>
	<string>366967144619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.breakawaydesign.Together</string>
	<key>PROJECT_ID</key>
	<string>together-c537f</string>
	<key>STORAGE_BUCKET</key>
	<string>together-c537f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366967144619:ios:59106f4f66648d4b53b7ee</string>
	<key>DATABASE_URL</key>
	<string>https://together-c537f.firebaseio.com</string>
</dict>
</plist>